* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

/* #box1 {
    height: 233px;
    width: 300px;
    background-color: orange;
}

#box2 {
    height: 234px;
    width: 300px;
    background-color: white;
}

#box3 {
    height: 233px;
    width: 300px;
    background-color: green;
} */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
}

.part2 {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-top: 8px;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
}