* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor {
    pointer-events: none;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    z-index: 2;
}

#image {
    height: 30vw;
    width: 70vw;
    position: relative;
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}