* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: gilroy;
	color: white;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
  overflow: hidden;
}

main {
	height: 100vh;
	width: 100%;
	background: #111;
	padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  background: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  scale: 2.5;
}

.btn:hover {
  background: #333;
}

.btn:active {
  background: #444;
  scale: 2.4;
}

img {
  width: 150px;
  cursor: pointer;
}