* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.section1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}

.part2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav h1 {
    font-size: 40px;
}

nav h1 i {
    rotate: 45deg;
    font-size: 45px;
}

nav h4 {
    font-size: 20px;
    font-weight: 500;
}

nav button {
    padding: 12px 22px;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 13px;
    cursor: pointer;
}

.center {
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-part1 {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.center-part1 h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.center-part1 p {
    font-size: 20px;
    margin-bottom: 20px;
    width: 85%;
}

.center-part1 button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}

.center-part2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.center-part2 img {
    height: 500px;
    object-fit: contain;
}

.section1bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 30px 50px;
}

.section1bottom img {
    width: 130px;
}

/* Services Section */
.section2 {
    padding: 10px 50px;
    margin-top: 30px;
}

.section2 .services {
    display: flex;
    align-items: center;
    gap: 50px;
}

.services h3 {
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    background-color: #f5dcb5;
    border-radius: 7px;
}

.services p {
    font-size: 20px;
    width: 40%;
    font-weight: 500;
}

.container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.elem {
    height: 300px;
    width: 43vw;
    padding: 50px 25px;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 0px 10px 0px #3e3d3b;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black {
    background-color: black;
    color: white;
}

.white-h2 {
    background: #f5dcb5;
}

.black-h2 {
    background: #C24F4F;
}

.elem-part1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elem-part1 h2 {
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    padding: 10px;
}

.elem-part1 h4 {
    font-size: 30px;
    font-weight: 500;
}

.elem-part1 h4 i {
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 7px;
    border-radius: 50%;
}

#white {
    background-color: black;
    color: white;
}

.elem-part2 {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.elem-part2 img {
    width: 100%;
    object-fit: contain;
}